._ {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100vh;
  border-right: 1px solid #e2e8f0;
  width: 100%;
  padding: 1rem;
  padding-left: 0;
  &rowFields {
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
    row-gap: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }
}
